<div class="row">
  <form class="frmEscribania" (ngSubmit)="onSubmit()" #escribaniaForm="ngForm">
      <h3 class="text-sm-center">GESTION ESCRIBANIA</h3>
      <div class="form-group">
          <label class="col-sm-12 col-md-4" for="nombre">Nombre</label>
          <input type="text" class="form-control col-sm-12 col-md-8" name="nombre" [(ngModel)]="escribania.nombre" #nombre="ngModel" required />
          <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
            <div *ngIf="nombre.errors.required">
              Se requiere nombre de escribania.
            </div>
          </div> 
      </div>
      <div class="form-group">
          <label class="col-sm-12 col-md-4" for="direccion">Direccion</label>
          <input type="text" class="form-control col-sm-12 col-md-8" name="direccion" [(ngModel)]="escribania.direccion" #direccion="ngModel" required />
          <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)" class="alert alert-danger">
            <div *ngIf="direccion.errors.required">
              Se requiere direccion de escribania.
            </div>
          </div> 
        </div>
      <div class="form-group">
          <label class="col-sm-12 col-md-4" for="telefono">Telefono</label>
          <input type="tel" class="form-control col-sm-12 col-md-8" name="telefono" [(ngModel)]="escribania.telefono" #telefono="ngModel" required />
          <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" class="alert alert-danger">
            <div *ngIf="telefono.errors.required">
              Se requiere telefono de escribania.
            </div>
          </div> 
        </div>
      <div class="form-group">
          <label class="col-sm-12 col-md-4" for="email">Email</label>
          <input type="email" class="form-control col-sm-12 col-md-8" name="email" [(ngModel)]="escribania.email" #email="ngModel" required />
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
            <div *ngIf="email.errors.required">
              Se requiere email de escribania.
            </div>
          </div> 
        </div>
      <div class="form-group">
          <label class="col-sm-12 col-md-4" for="foto">Foto</label>
          <!--<input type="file" class="form-control col-sm-12 col-md-8" [(ngModel)]="escribania.foto" #foto="ngModel" required alife-file-to-base64 multiple (onFileChanged)="onFileChanges($event)" [(fileModel)]="files" [(rawFileModel)]="rawFiles" />-->
          <input type="text" class="form-control col-sm-12 col-md-8" name="foto" [(ngModel)]="escribania.foto" #foto="ngModel" required />
          <div *ngIf="foto.invalid && (foto.dirty || foto.touched)" class="alert alert-danger">
            <div *ngIf="foto.errors.required">
              Se requiere foto de escribania.
            </div>
          </div> 
        </div>
      <div class="form-group">
          <label class="col-sm-12 col-md-4" for="latitud">Latitud</label>
          <input type="text" class="form-control col-sm-12 col-md-8" name="latitud" [(ngModel)]="escribania.latitud" #latitud="ngModel" required />
          <div *ngIf="latitud.invalid && (latitud.dirty || latitud.touched)" class="alert alert-danger">
            <div *ngIf="latitud.errors.required">
              Se requiere latitud de escribania.
            </div>
          </div> 
        </div>
      <div class="form-group">
          <label class="col-sm-12 col-md-4" for="longitud">Longitud</label>
          <input type="text" class="form-control col-sm-12 col-md-8" name="longitud" [(ngModel)]="escribania.longitud" #longitud="ngModel" required />
          <div *ngIf="longitud.invalid && (longitud.dirty || longitud.touched)" class="alert alert-danger">
            <div *ngIf="longitud.errors.required">
              Se requiere longitud de escribania.
            </div>
          </div> 
        </div>
      <div class="form-group">
          <label class="col-sm-12 col-md-4" for="estado">Estado</label>
          <input type="" class="form-control col-sm-12 col-md-8" name="estado" [(ngModel)]="escribania.estado" #estado="ngModel" required />
          <div *ngIf="estado.invalid && (estado.dirty || estado.touched)" class="alert alert-danger">
            <div *ngIf="estado.errors.required">
              Se requiere estado de escribania.
            </div>
          </div> 
        </div>
      <div class="form-group">
          <button type="submit" class="btn btn-primary" (click)="addEscribania()" [disabled]="!escribaniaForm.form.valid" >AÑADIR</button>
          <button type="reset" class="btn btn-primary">NUEVO</button>
          <button type="submit" class="btn btn-primary" (click)="editEscribania()" [disabled]="!escribaniaForm.form.valid">MODIFICAR</button> 
      </div>
  </form>


<br/>
<br/>

<table class="table table-striped" [mfData]="escribanias" #mf="mfDataTable" [mfRowsOnPage]="5">
  
  <thead>
    <tr>
        <th><mfDefaultSorter by="id">Id</mfDefaultSorter></th>
        <th><mfDefaultSorter >Nombre</mfDefaultSorter></th>
        <th><mfDefaultSorter >Direccion</mfDefaultSorter></th>
        <th><mfDefaultSorter >Telefono</mfDefaultSorter></th>
        <th><mfDefaultSorter >Email</mfDefaultSorter></th>
        <th><mfDefaultSorter >Foto</mfDefaultSorter></th>
        <th><mfDefaultSorter >latitud</mfDefaultSorter></th>
        <th><mfDefaultSorter >longitud</mfDefaultSorter></th>
        <th><mfDefaultSorter >estado</mfDefaultSorter></th>         
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let esc of escribanias">
        <td>{{esc.id}}</td>
        <td>{{esc.nombre}}</td>
        <td>{{esc.direccion}}</td>
        <td>{{esc.telefono}}</td>
        <td>{{esc.email}}</td>
        <td>{{esc.foto}}</td>
        <td>{{esc.latitud}}</td>
        <td>{{esc.longitud}}</td>
        <td>{{esc.estado}}</td>
        <td>
         <button type="button" class="btn btn-primary" (click)="elegirEscribania(esc)">Seleccionar</button>
         <button type="button "class="btn btn-primary" (click)="deleteEscribania(esc.id)">ELIMINARr</button>
        </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4">
          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
      </td>
    </tr>
  </tfoot>
</table>

<br/>
<br/>
<br/>

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
      <agm-map [latitude]="lat" [longitude]="lng">
        
      </agm-map>
    </div>
  </div>

</div>
