<footer id="footer" class="row top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">
					
					<div class="col-md-3 widget">
						<h3 class="widget-title">Contactos</h3>
						<div class="widget-body">
							<p>+388 54 4873237<br>
								<a href="mailto:#">colegioescribano.email@.com</a>	
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Redes Sociales</h3>
						<div class="widget-body">
							<p class="follow-me-icons">
								<a href=""><i class="fa fa-twitter fa-2"></i></a>
								<a href=""><i class="fa fa-facebook fa-2"></i></a>
							</p>	
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">Direccion</h3>
						<div class="widget-body">
							<p>Av. 19 de Abril Nº 415, San Salvador de Jujuy, Provincia de Jujuy, Argentina.</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		



	
			<div class="container">
			
					<div class="row">
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="#">Home</a> | 
								<a href="about.html">Acerca de</a> |
								<a href="contact.html">Contacto</a> |
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2019, Diseñado por <a href="#" rel="designer">Programacion Web</a> 
							</p>
						</div>
					</div>

				</div>
			</div>
    </div>

	</footer>	