<div >
    <!--  <div *ngIf="loginService.userLogged.tipo==='Administrador'">  -->
  <br><br><br>
  <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2>Registro de <b>Perfiles</b></h2>
        </div>
        <div class="col-sm-6">
          <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i>
            <span>Recuperar</span></a>
        </div>
      </div>
    </div>

  <table class="table table-striped" [mfData]="perfiles" #mf="mfDataTable" [mfRowsOnPage]="5">
    <thead>
      <tr>
        <th>
          <mfDefaultSorter by="id">Id</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="nombres">Nombres</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="apellidos">apellidos</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="dni">dni</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="sexo">sexo</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="sexo">Fecha</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="estado">Estado</mfDefaultSorter>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of mf.data">
        <td>{{item.id}}</td>
        <td>{{item.nombres}}</td>
        <td>{{item.apellidos}}</td>
        <td>{{item.dni}}</td>
        <td>{{item.sexo}}</td>
        <td>{{item.fecha_Nac }}</td>
        <td>{{item.estado}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">
          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<div>
    <button type="button " class="btn btn-danger" href="#PDFEmployeeModal"
      data-toggle="modal" >PDF</button>
</div>

<!-- PDF Modal HTML -->
<div id="PDFEmployeeModal" class="modal fade">
    <div class="modal-xl modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <h4 class="modal-title">Previsualizacion Registro de Pagos</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div id="tabRegistro" class="modal-body">
              <table class="table table-striped">
                  <thead>
                    <tr>
                        <th>
                            Id
                          </th>
                          <th>
                              Nombres
                          </th>
                          <th>
                              apellidos
                          </th>
                          <th>
                              dni
                          </th>
                          <th>
                              sexo
                          </th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let item of perfiles">
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.nombres}}</td>
                        <td>{{item.apellidos}}</td>
                        <td>{{item.dni}}</td>
                        <td>{{item.sexo}}</td>
                    </tr>
                  </tbody>
                </table>
          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
            <input type="submit" class="btn btn-danger" value="PDF" (click)="generarPDF()">
          </div>
        </form>
      </div>
    </div>
  </div>

