<!--<div class="row bg-dark text-center d-flex justify-content-center align-items-center py-2 cabecera">
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-5">
        <header>
            <h1 class="font-weight-bold"><span class="resaltado">Colegio de Escribanos</span><small class="text-white"> de Jujuy</small></h1>
        </header>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-7 ">
        <nav class="navbar navbar-dark navbar-expand-sm font-weight-bolder menu">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

            <div class="collapse navbar-collapse " id="navbarsExample03">
                <ul class="navbar-nav mx-auto  ">
                    <li class="nav-item" routerLinkActive="active">
                        <a *ngIf="!loginService.userLoggedIn" [routerLink]="['login']">(Login)</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a *ngIf="loginService.userLoggedIn" [routerLink]="['login']" (click)="logout()">
                        {{loginService.userLogged.username}} (logout)
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>-->
<!-- Fixed navbar -->

    <div class="row navbar navbar-inverse navbar-fixed-top headroom navbar-expand-md">
        <div class="container">

                <div class="navbar-header">
                    <!-- Button for smallest screens -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span>
                        <span class="icon-bar"></span> </button>
                    <a class="navbar-brand" href="#"><img src="assets/images/logoescribano.png" alt="Progressus HTML5 template"></a>
                </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right ml-auto">
                    <li class="active"><a class="nav-link active" [routerLink]="['/Home']">Home</a></li>
                    <li ><a class="nav-link active" [routerLink]="['escribaniasPublicas']">Escribanias</a></li>
                   <li><a class="nav-link active" [routerLink]="['about']">Acerca de</a></li>
                   <!-- <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">More Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Left Sidebar</a></li>
                            <li class="active"><a href="#">Right Sidebar</a></li>
                        </ul>
                    </li>-->
                    <li><a class="nav-link active" [routerLink]="['contact']">Contacto</a></li>
                    <li class="nav-item" routerLinkActive="active">
                            <a class="btn" *ngIf="!loginService.userLoggedIn" [routerLink]="['login']">SIGN IN</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active"><a class="btn" href="#" *ngIf="loginService.userLoggedIn" [routerLink]="['login']" (click)="logout()">
                    {{loginService.userLogged.username}}  GO OUT </a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <!-- /.navbar -->
