<div>
  <!--<div *ngIf="loginService.userLogged.tipo==='Administrativo'">-->
  <br>
  <div>
    <br>
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2>Registro de <b>Escribania</b></h2>
        </div>
        <div class="col-sm-6">
          <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i>
            <span>Agregar Nueva Escribania</span></a>
          <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i
              class="material-icons">&#xE15C;</i>
            <span>Recuperar</span></a>
        </div>
      </div>
    </div>
    <table class="table table-striped" [mfData]="escribanias" #mf="mfDataTable" [mfRowsOnPage]="5">
      <thead>
        <tr>
          <th>
            <mfDefaultSorter by="id">Id</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="nombre">Nombre</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="direccion">Direccion</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="telefono">Telefono</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="email">Email</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="foto">Foto</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="latitud">Latitud</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="longitud">Longitud</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="estado">Estado</mfDefaultSorter>
          </th>
          <th>
            Acciones
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let esc of mf.data">
          <td>{{esc.id}}</td>
          <td>{{esc.nombre}}</td>
          <td>{{esc.direccion}}</td>
          <td>{{esc.telefono}}</td>
          <td>{{esc.email}}</td>
          <td>{{esc.foto}}</td>
          <td>{{esc.latitud}}</td>
          <td>{{esc.longitud}}</td>
          <td>{{esc.estado}}</td>
          <td>
            <a href="#editEmployeeModal" class="edit" data-toggle="modal" (click)="elegirEscribania(esc)">
              <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i> </a>
            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal" (click)="elegirEscribania(esc)">
              <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

  <!-- Edit Modal HTML -->
  <div id="addEmployeeModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <h4 class="modal-title">Agregar Escribania</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label>Nombre</label>
              <input type="text" class="form-control" rows="5" name="txtNombre" [(ngModel)]="escribania.nombre">
            </div>
            <div class="form-group">
              <label>Direccion</label>
              <input type="text" class="form-control" rows="5" name="txtDireccion" [(ngModel)]="escribania.direccion">
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control" rows="5" name="txtEmail" [(ngModel)]="escribania.email">
            </div>
            <div class="form-group">
              <label>Telefono</label>
              <input type="text" class="form-control" rows="5" name="txtTelefono" [(ngModel)]="escribania.telefono">
            </div>
            <div class="form-group">
              <label>Foto</label>
              <input type="text" class="form-control" rows="5" name="txtFoto" [(ngModel)]="escribania.foto">
            </div>
            <div class="form-group">
              <label>Latitud</label>
              <input type="text" class="form-control" rows="5" name="txtLatitud" [(ngModel)]="escribania.latitud">
            </div>
            <div class="form-group">
              <label>Longitud</label>
              <input type="text" class="form-control" rows="5" name="txtLongitud" [(ngModel)]="escribania.longitud">
            </div>
          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
            <input type="submit" class="btn btn-success" value="Agregar" (click)="addEscribania(escribania)">
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Edit Modal HTML -->
  <div id="editEmployeeModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <h4 class="modal-title">Editar Escribania</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
              <div class="form-group">
                  <label>Nombre</label>
                  <input type="text" class="form-control" rows="5" name="txtNombre" [(ngModel)]="escribania.nombre">
                </div>
                <div class="form-group">
                  <label>Direccion</label>
                  <input type="text" class="form-control" rows="5" name="txtDireccion" [(ngModel)]="escribania.direccion">
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" class="form-control" rows="5" name="txtEmail" [(ngModel)]="escribania.email">
                </div>
                <div class="form-group">
                  <label>Telefono</label>
                  <input type="text" class="form-control" rows="5" name="txtTelefono" [(ngModel)]="escribania.telefono">
                </div>
                <div class="form-group">
                  <label>Foto</label>
                  <input type="text" class="form-control" rows="5" name="txtFoto" [(ngModel)]="escribania.foto">
                </div>
                <div class="form-group">
                  <label>Latitud</label>
                  <input type="text" class="form-control" rows="5" name="txtLatitud" [(ngModel)]="escribania.latitud">
                </div>
                <div class="form-group">
                  <label>Longitud</label>
                  <input type="text" class="form-control" rows="5" name="txtLongitud" [(ngModel)]="escribania.longitud">
                </div>
              </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
            <input type="submit" class="btn btn-success" value="Actualizar" (click)="editEscribania(escribania)">
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Delete Modal HTML -->
  <div id="deleteEmployeeModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <h4 class="modal-title">Eliminar Escribania</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <p>Escribania</p>
            <p>
              <li>Id: {{escribania.id}}</li>
              <li>Nombre: {{escribania.nombre}}</li>
              <li>Direccion: {{escribania.direccion}}</li>
              <li>Telefono: {{escribania.telefono}}</li>
              <li>Email: {{escribania.email}}</li>
              <li>Foto: {{escribania.foto}}</li>
              <li>Latitud: {{escribania.latitud}}</li>
              <li>Longitud: {{escribania.longitud}}</li>
            </p>
            <p>Seguro que deseas Eliminar estos Datos?</p>
            <p class="text-warning"><small>Esta accion se puede Recuperar. Consulte Manual.</small></p>
          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
            <input type="submit" class="btn btn-danger" value="Eliminar" (click)="deleteEscribania(escribania.id)">
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--

    <div class="row">
    <form class="frmEscribania" (ngSubmit)="onSubmit()" #escribaniaForm="ngForm">
      <h3 class="text-sm-center">GESTION ESCRIBANIA</h3>
      <div class="form-group">
        <label class="col-sm-12 col-md-4" for="nombre">Nombre</label>
        <input type="text" class="form-control col-sm-12 col-md-8" name="nombre" [(ngModel)]="escribania.nombre"
          #nombre="ngModel" required />
        <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
          <div *ngIf="nombre?.errors.required">
            Se requiere nombre de escribania.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-12 col-md-4" for="direccion">Direccion</label>
        <input type="text" class="form-control col-sm-12 col-md-8" name="direccion" [(ngModel)]="escribania.direccion"
          #direccion="ngModel" required />
        <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)" class="alert alert-danger">
          <div *ngIf="direccion?.errors.required">
            Se requiere direccion de escribania.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-12 col-md-4" for="telefono">Telefono</label>
        <input type="tel" class="form-control col-sm-12 col-md-8" name="telefono" [(ngModel)]="escribania.telefono"
          #telefono="ngModel" required />
        <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" class="alert alert-danger">
          <div *ngIf="telefono?.errors.required">
            Se requiere telefono de escribania.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-12 col-md-4" for="email">Email</label>
        <input type="email" class="form-control col-sm-12 col-md-8" name="email" [(ngModel)]="escribania.email"
          #email="ngModel" required />
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
          <div *ngIf="email?.errors.required">
            Se requiere email de escribania.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-12 col-md-4" for="foto">Foto</label>

        <input type="text" class="form-control col-sm-12 col-md-8" name="foto" [(ngModel)]="escribania.foto"
          #foto="ngModel" required />
        <div *ngIf="foto.invalid && (foto.dirty || foto.touched)" class="alert alert-danger">
          <div *ngIf="foto?.errors.required">
            Se requiere foto de escribania.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-12 col-md-4" for="latitud">Latitud</label>
        <input type="text" class="form-control col-sm-12 col-md-8" name="latitud" [(ngModel)]="escribania.latitud"
          #latitud="ngModel" required />
        <div *ngIf="latitud.invalid && (latitud.dirty || latitud.touched)" class="alert alert-danger">
          <div *ngIf="latitud?.errors.required">
            Se requiere latitud de escribania.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-12 col-md-4" for="longitud">Longitud</label>
        <input type="text" class="form-control col-sm-12 col-md-8" name="longitud" [(ngModel)]="escribania.longitud"
          #longitud="ngModel" required />
        <div *ngIf="longitud.invalid && (longitud.dirty || longitud.touched)" class="alert alert-danger">
          <div *ngIf="longitud?.errors.required">
            Se requiere longitud de escribania.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-12 col-md-4" for="estado">Estado</label>
        <input type="" class="form-control col-sm-12 col-md-8" name="estado" [(ngModel)]="escribania.estado"
          #estado="ngModel" required />
        <div *ngIf="estado.invalid && (estado.dirty || estado.touched)" class="alert alert-danger">
          <div *ngIf="estado?.errors.required">
            Se requiere estado de escribania.
          </div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" (click)="addEscribania()"
          [disabled]="!escribaniaForm.form.valid">AÑADIR</button>
        <button type="reset" class="btn btn-primary">NUEVO</button>
        <button type="submit" class="btn btn-primary" (click)="editEscribania()"
          [disabled]="!escribaniaForm.form.valid">MODIFICAR</button>
      </div>
    </form>


    <br />
    <br />

    <table class="table table-striped" [mfData]="escribanias" #mf="mfDataTable" [mfRowsOnPage]="5">

      <thead>
        <tr>
          <th>
            <mfDefaultSorter by="id">Id</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter>Nombre</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter>Direccion</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter>Telefono</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter>Email</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter>Foto</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter>latitud</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter>longitud</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter>estado</mfDefaultSorter>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let esc of escribanias">
          <td>{{esc.id}}</td>
          <td>{{esc.nombre}}</td>
          <td>{{esc.direccion}}</td>
          <td>{{esc.telefono}}</td>
          <td>{{esc.email}}</td>
          <td>{{esc.foto}}</td>
          <td>{{esc.latitud}}</td>
          <td>{{esc.longitud}}</td>
          <td>{{esc.estado}}</td>
          <td>
            <button type="button" class="btn btn-primary" (click)="elegirEscribania(esc)">Seleccionar</button>
            <button type="button " class="btn btn-primary" (click)="deleteEscribania(esc.id)">ELIMINARr</button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>

    <br />
    <br />
    <br />
  </div>

  -->
