<div *ngIf="loginService.userLogged.tipo==='gerente'">
    <h1>Resumenes Para Gerente</h1>
</div>


<table class="table table-striped" [mfData]="pagos" #mf="mfDataTable" [mfRowsOnPage]="5">
  <thead>
    <tr>
      <th>
        <mfDefaultSorter by="id">Id</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="importe">Importe</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="fecha">Fecha</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="estado">estado</mfDefaultSorter>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of mf.data">
      <td>{{item.id}}</td>
      <td>{{item.importe}}</td>
      <td>{{item.fecha.timestamp * 1000 | date: 'dd/MM/yyyy'}}</td>
      <td>{{item.estado}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4">
        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
      </td>
    </tr>
  </tfoot>
