<div class="row align-items-center d-flex justify-content-center my-2 bg-secondary">
    <div class="col-12 col-md-8 p-1">
        <div class="thumbnail text-center">
            <img src="./assets/img/publico/cabecera.png" class="img-fluid" alt="Foto de portada">
            <div class="caption">
                <h1 id="mensaje" class="text-center text-secondary">¡Escribanos a tu disposición!</h1>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!--Consultar-->
    <div class="card col-12 col-sm-6 col-md-3 text-center ">
        <div class="card-header">
            Matriculación
        </div>
        <div class="card-body">
            <img src="./assets/img/publico/listamatriculados.PNG" class="card-img-top miniatura">
            <h5 class="card-title">Requisitos</h5>
            <p class="card-text">Consulta los ultimos requisitos y cuotas.</p>
            <a href="#" class="btn btn-outline-info font-weight-bold">Revisar</a>
        </div>
    </div>

    <div class="card col-12 col-sm-6 col-md-3 text-center ">
        <div class="card-header">
            Institución
        </div>
        <div class="card-body">
            <img src="./assets/img/publico/bibliotecacolegio.PNG" class="card-img-top miniatura">
            <h5 class="card-title">Sobre nosotros</h5>
            <p class="card-text">Autoridades y un poco de historias.</p>
            <a href="#" class="btn btn-outline-info font-weight-bold">Revisar</a>
        </div>
    </div>

    <div class="card col-12 col-sm-6 col-md-3 text-center ">
        <div class="card-header">
            Aprende
        </div>
        <div class="card-body">
            <img src="./assets/img/publico/capacitaciones.PNG" class="card-img-top miniatura">
            <h5 class="card-title">Capacitaciones</h5>
            <p class="card-text">Accede a informaciòn sobre cursos disponibles.</p>
            <a href="#" class="btn btn-outline-info font-weight-bold">Revisar</a>
        </div>
    </div>

    <div class="card col-12 col-sm-6 col-md-3 text-center ">
        <div class="card-header">
            Escribanias
        </div>
        <div class="card-body">
            <img src="./assets/img/publico/escribanias.jpg" class="card-img-top miniatura">
            <h5 class="card-title">Cosulta</h5>
            <p class="card-text">Revisa sus datos y ubicación en GoogleMaps..</p>
            <a href="#" class="btn btn-outline-info font-weight-bold">Revisar</a>
        </div>
    </div>
</div>