<!--  <div *ngIf="loginService.userLogged.tipo==='Administrador'">  -->
<div class="mb-auto">
    <div class="row my-4">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
            <div class="card border-dark mb-3">
                <div class="card-header bg-white font-weight-bold text-center text-info">Filtrar resultados en la tabla:</div>
                <div class="card-body text-dark">
                    <input type="text" placeholder="Por asunto, matricula o contenido...." class="form-control font-weight-bold text-dark bg-light col-8 mx-auto rounded text-center border-secondary" [(ngModel)]="filtroNovedad" ngModel id="filtroEscribania" name="filtroEscribania">
                </div>
            </div>
        </div>
    </div>
    <div class="table-title">
        <div class="row">
            <div class="col-sm-6">
                <h2>Registro de <b>Novedades</b></h2>
            </div>
            <div class="col-sm-6">
                <a href="#PDFEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i>
            <span>Generar Archivo PDF</span></a>
            </div>
        </div>
    </div>

    <table class="table table-striped" [mfData]="novedades | filterNovedad: filtroNovedad " #mf="mfDataTable" [mfRowsOnPage]="5">
        <thead>
            <tr>
                <th>
                    <mfDefaultSorter by="id">Id</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="escribano.matricula">Escribano</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="asunto">Asunto</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="mensaje">Mensaje</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="fecha">Fecha</mfDefaultSorter>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of mf.data">
                <td>{{item.id}}</td>
                <td>
                    <div *ngFor="let usu of usuarios">
                        <div *ngIf='item.escribano.matricula===usu.escribano.matricula'>
                            {{usu.perfil.nombres}} - M.P. {{usu.escribano.matricula}} </div>
                    </div>
                </td>
                <td>{{item.asunto}}</td>
                <td>{{item.mensaje}}</td>
                <td>{{item.fecha | date: 'dd/MM/yyyy'}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
    </table>
</div>


<!-- PDF Modal HTML -->
<div id="PDFEmployeeModal" class="modal fade">
    <div class="modal-xl modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Previsualizacion Registro de Pagos</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div id="tabRegistro" class="modal-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Id
                                </th>
                                <th>
                                    Escribano
                                </th>
                                <th>
                                    Asunto
                                </th>
                                <th>
                                    Mensaje
                                </th>
                                <th>
                                    Fecha
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of novedades">
                            <tr>
                                <td>{{item.id}}</td>
                                <td>
                                    <div *ngFor="let usu of usuarios">
                                        <div *ngIf='item.escribano.matricula===usu.escribano.matricula'>
                                            {{usu.perfil.nombres}} - M.P. {{usu.escribano.matricula}} </div>
                                    </div>
                                </td>
                                <td>{{item.asunto}}</td>
                                <td>{{item.mensaje}}</td>
                                <td>{{item.fecha | date: 'dd/MM/yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-danger" value="Confirmar PDF" (click)="generarPDF()">
                </div>
            </form>
        </div>
    </div>
</div>