<div *ngIf="loginService.userLogged.tipo==='Administrativo'">
  <div class="row">
    <form class="frmNovedad" (ngSubmit)="onSubmit()" #novedadForm="ngForm">
      <h3>GESTION NOVEDAD</h3>
      <div class="form-group">
        <label class="col-sm-12 col-md-4" for="escribano">Matricula de Escribano</label>
        <select [(ngModel)]="novedad.escribano" name="escribano" class="form-control col-sm-12 col-md-8"
          #escribano="ngModel" required>
          <option *ngFor="let escribano of escribanos" [ngValue]="escribano">{{escribano.matricula}}</option>
        </select>
      </div>
      <div class="form-group">
        <label class="col-sm-12 col-md-4" for="fecha">Fecha</label>
        <input type="date" class="form-control col-sm-12 col-md-8" name="fecha" [(ngModel)]="novedad.fecha"
          #fecha="ngModel" />
        <div *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)" class="alert alert-danger">
          <div *ngIf="fecha?.errors.required">
            Se requiere fecha.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-12 col-md-4" for="asunto">Asunto</label>
        <input type="text" class="form-control col-sm-12 col-md-8" name="asunto" [(ngModel)]="novedad.asunto"
          #asunto="ngModel" />
        <div *ngIf="asunto.invalid && (asunto.dirty || asunto.touched)" class="alert alert-danger">
          <div *ngIf="asunto?.errors.required">
            Se requiere asunto.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-12 col-md-4" for="mensaje">Mensaje</label>
        <input type="text" class="form-control col-sm-12 col-md-8" name="mensaje" [(ngModel)]="novedad.mensaje"
          #mensaje="ngModel" />
        <div *ngIf="mensaje.invalid && (mensaje.dirty || mensaje.touched)" class="alert alert-danger">
          <div *ngIf="mensaje?.errors.required">
            Se requiere mensaje.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-12 col-md-4" for="estado">Estado</label>
        <input type="text" class="form-control col-sm-12 col-md-8" name="estado" [(ngModel)]="novedad.estado"
          #estado="ngModel" />
        <div *ngIf="estado.invalid && (estado.dirty || estado.touched)" class="alert alert-danger">
          <div *ngIf="estado?.errors.required">
            Se requiere estado.
          </div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" (click)="addNovedad()"
          [disabled]="!novedadForm.form.valid">AÑADIR</button>
        <button type="reset" class="btn btn-primary">NUEVO</button>
        <button type="submit" class="btn btn-primary" (click)="editNovedad()"
          [disabled]="!novedadForm.form.valid">MODIFICAR</button>
      </div>
    </form>

    <br />
    <br />
    <table class="table table-striped" [mfData]="novedades" #mf="mfDataTable" [mfRowsOnPage]="5">

      <thead>
        <tr>
          <th>
            <mfDefaultSorter by="id">Id</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter>Matricula de Escribano</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter>Fecha</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter>Asunto</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter>Mensaje</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter>estado</mfDefaultSorter>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let nov of novedades">
          <td>{{nov.id}}</td>
          <td>{{nov.escribano.matricula}}</td>
          <td>{{nov.fecha}}</td>
          <td>{{nov.asunto}}</td>
          <td>{{nov.mensaje}}</td>
          <td>{{nov.estado}}</td>
          <td>
            <button type="button" class="btn btn-primary" (click)="elegirNovedad(nov)">Seleccionar</button>
            <button type="button " class="btn btn-primary" (click)="deleteNovedad(nov.id)">ELIMINAR</button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
