<div class="row mt-2">
    <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
        <form id="idFormAdministrador" name="FormAdministrador" class="p-1 m-auto text-center mt-2 shadow rounded" #formUsuario="ngForm" action="">
            <!--Aqui comienzan los datos de usuario-->
            <h6 class="lead">Formularios de Usuario</h6>
            <div class="form-group">
                <label class="font-weight-bold" for="tipo">Elija tipo de Usuario</label>
                <select [(ngModel)]="usuario.tipo" ngModel class="form-control selectpicker font-weight-bold text-dark bg-light" name="tipo" id="id_tipo" #v_tipo="ngModel" required>
                        <option  value="" select >Seleccione</option>
                        <option  *ngFor="let tipo of tipos" [ngValue]="tipo"> {{ tipo }} </option>
                </select>
                <div *ngIf="v_tipo.touched && v_tipo.invalid">
                    <div class="text-danger font-weight-bolder text-center" *ngIf="v_tipo.errors.required">Tipo de usuario requerido.</div>
                </div>
            </div>
            <div class="form-group d-flex justify-content-center">
                <label><img src='{{ usuario.imagen }}' width="30px" height="30px"> </label>
                <textarea [(ngModel)]="usuario.imagen" ngModel class="form-control" name="imagen" id="id_imagen"></textarea>
            </div>

            <div class="form-group">
                <label class="font-weight-bold" for="username">Nombre de Usuario</label>
                <input type="text" [(ngModel)]="usuario.username" ngModel placeholder="Ingrese..." class="form-control rounded font-weight-bold text-center" name="username" id="id_username" #v_username="ngModel" required>
                <div *ngIf="v_username.touched && v_username.invalid">
                    <div class="text-danger font-weight-bolder text-center" *ngIf="v_username.errors.required">Nombre de usuario requerido.</div>
                </div>
            </div>

            <div class="form-group">
                <label class="font-weight-bold" for="password">Contraseña</label>
                <input type="text" [(ngModel)]="usuario.password" ngModel placeholder="Ingrese..." class="form-control rounded font-weight-bold text-center" name="password" id="id_password" #v_password="ngModel" required>
                <div *ngIf="v_password.touched && v_password.invalid">
                    <div class="text-danger font-weight-bolder text-center" *ngIf="v_password.errors.required">Contraseña requerida.</div>
                </div>
            </div>
            <div class="form-group">
                <label class="font-weight-bold" for="email">Email</label>
                <input type="text" [(ngModel)]="usuario.email" ngModel placeholder="Ingrese..." class="form-control rounded font-weight-bold text-center" name="email" id="id_email" #v_email="ngModel" required>
                <div *ngIf="v_email.touched && v_email.invalid">
                    <div class="text-danger font-weight-bolder text-center" *ngIf="v_email.errors.required">Email requerido.</div>
                </div>
            </div>
            <!--Aqui comienzan los datos de Perfil-->
            <h6 class="lead">Datos del Perfil</h6>
            <div class="form-group">
                <label class="font-weight-bold" for="nombres">Nombres</label>
                <input type="text" [(ngModel)]="usuario.perfil.nombres" ngModel placeholder="Ingrese..." class="form-control rounded font-weight-bold text-center" name="nombres" id="id_nombres" #v_nombres="ngModel" required>
                <div *ngIf="v_nombres.touched && v_nombres.invalid">
                    <div class="text-danger font-weight-bolder text-center" *ngIf="v_nombres.errors.required">Nombres requeridos.</div>
                </div>
            </div>
            <div class="form-group">
                <label class="font-weight-bold" for="apellidos">Apellidos</label>
                <input type="text" [(ngModel)]="usuario.perfil.apellidos" ngModel placeholder="Ingrese..." class="form-control rounded font-weight-bold text-center" name="apellidos" id="id_apellidos" #v_apellidos="ngModel" required>
                <div *ngIf="v_apellidos.touched && v_apellidos.invalid">
                    <div class="text-danger font-weight-bolder text-center" *ngIf="v_apellidos.errors.required">Nombres requeridos.</div>
                </div>
            </div>
            <div class="form-group">
                <label class="font-weight-bold" for="dni">DNI</label>
                <input type="number" [(ngModel)]="usuario.perfil.dni" ngModel placeholder="Ingrese..." class="form-control rounded font-weight-bold text-center" name="dni" id="id_dni" #v_dni="ngModel" min="1" max="99999999" minlength="7" maxlength="8" required>
                <div *ngIf="v_dni.touched && v_dni.invalid">
                    <div class="text-danger font-weight-bolder text-center" *ngIf="v_dni.errors.required">DNI requerido.</div>
                    <div class="text-danger font-weight-bolder text-center" *ngIf="v_dni.errors.maxlength || v_dni.errors.minlenght ">DNI debe tener entre 7 y 8 digitos</div>
                </div>
            </div>
            <div class="form-group">
                <label class="font-weight-bold" for="fechanac">Fecha de Nacimiento</label>
                <input type="date" [(ngModel)]="usuario.perfil.fecha_nac" ngModel placeholder="dd/mm/aaaa" class="form-control-sm rounded font-weight-bold text-center" name="fechanac" id="id_fechanac" #v_fecha="ngModel" required>
                <div *ngIf="v_fecha.touched && v_fecha.invalid">
                    <div class="text-danger font-weight-bolder" *ngIf="v_fecha.errors.required">Fecha requerida.</div>
                </div>
            </div>
            <div class="form-group">
                <label class="font-weight-bold" for="sexo">Elija sexo</label>
                <select [(ngModel)]="usuario.perfil.sexo" ngModel class="form-control selectpicker font-weight-bold bg-light" name="sexo" id="id_sexo" #v_sexo="ngModel" required>
                            <option  value="" select >Seleccione</option>
                            <option  value="femenino">Femenino</option>
                            <option  value="masculino">Masculino</option>
                    </select>
                <div *ngIf="v_sexo.touched && v_sexo.invalid">
                    <div class="text-danger font-weight-bolder text-center" *ngIf="v_sexo.errors.required">Elija una opcion.</div>
                </div>
            </div>
            <div *ngIf="usuario.tipo == 'socio'">
                <!--Aqui comienzan los datos de Escribano-->
                <h6 class="lead">Datos del Socio</h6>
                <div class="form-group">
                    <label class="font-weight-bold" for="escribania_op">Elija tipo de Usuario</label>
                    <select [(ngModel)]="usuario.escribano.escribania" ngModel class="form-control selectpicker font-weight-bold text-dark bg-light" name="escribania_op" id="id_escribania_op" #v_escribania="ngModel" required>
                            <option value="" select >Seleccione</option>
                            <option *ngFor="let escribania of escribanias" [ngValue]="escribania" > {{ escribania.nombre }} </option>    
                        </select>
                    <div *ngIf="v_escribania.touched && v_escribania.invalid">
                        <div class="text-danger font-weight-bolder text-center" *ngIf="v_escribania.errors.required">Escribania requerido.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold" for="matricula">Numero de Matricula</label>
                    <input type="number" [(ngModel)]="usuario.escribano.matricula" ngModel placeholder="Ingrese..." class="form-control rounded font-weight-bold text-center" name="matricula" id="id_matricula" #v_matricula="ngModel" min="1" max="20000" maxlength="5" required>
                    <div *ngIf="v_matricula.touched && v_matricula.invalid">
                        <div class="text-danger font-weight-bolder text-center" *ngIf="v_dni.errors.required">Matricula requerida.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold" for="universidad">Universidad de Egreso</label>
                    <input type="text" [(ngModel)]="usuario.escribano.universidad" ngModel placeholder="Ingrese..." class="form-control rounded font-weight-bold text-center" name="universidad" id="id_universidad" #v_universidad="ngModel" required>
                    <div *ngIf="v_universidad.touched && v_universidad.invalid">
                        <div class="text-danger font-weight-bolder text-center" *ngIf="v_universidad">Universidad requerida.</div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-success" (click)="enviarUsuario( formUsuario );">Prueba</button>
        </form>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <h5 class="text-center">Tabla de Usuarios</h5>
        <form>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Tipo</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Doc</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarios">
                        <th> {{ usuario.id }} </th>
                        <td> {{ usuario.username }} </td>
                        <td> {{ usuario.email }} </td>
                        <td> {{ usuario.tipo }} </td>
                        <th> {{ usuario.perfil.nombres }} </th>
                        <td> {{ usuario.perfil.apellidos }} </td>
                        <td> {{ usuario.perfil.dni }} </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>